In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('H:/Downloads/Datatsets/theses_v2.csv')

C:\Users\Administrator\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df.head()

,Auteur,Identifiant auteur,Titre,Directeur de these,Directeur de these (nom prenom),Identifiant directeur,Etablissement de soutenance,Identifiant etablissement,Discipline,Statut,Date de premiere inscription en doctorat,Date de soutenance,Year,Langue de la these,Identifiant de la these,Accessible en ligne,Publication dans theses.fr,Mise a jour dans theses.fr
0,Saeed Al marri,NaN,Le credit documentaire et l'onopposabilite des...,Philippe Delebecque,Delebecque Philippe,29561248,Paris 1,27361802,Driot prive,enCours,30-09-11,NaN,NaN,NaN,s69480,non,26-01-12,26-01-12
1,Andrea Ramazzotti,174423705,Application de la PGD a la resolution de probl...,"Jean-Claude Grandidier,Marianne Beringhier","Grandidier Jean-Claude,Beringhier Marianne","715,441,511","Chasseneuil-du-Poitou, Ecole nationale superie...",28024400,"Mecanique des solides, des materiaux, des stru...",enCours,01-10-12,NaN,NaN,NaN,s98826,non,22-11-13,22-11-13
2,OLIVIER BODENREIDER,NaN,Conception d'un outil informatique d'etude des...,Francois Kohler,Kohler Francois,57030758,Nancy 1,NaN,Medecine,soutenue,NaN,01-01-93,1993.0,fr,1993NAN19006,non,24-05-13,17-11-12
3,Emmanuel Porte,NaN,Socio-histoire des politiques publiques en mat...,Gilles Pollet,Pollet Gilles,na,Lyon 2,02640334X,Science politique,enCours,01-06-11,NaN,NaN,NaN,s88867,non,12-07-13,12-01-16
4,Arthur Devriendt,NaN,LES TECHNOLOGIES DE L'INFORMATION ET DE LA COM...,Gabriel Dupuy,Dupuy Gabriel,na,Paris 1,27361802,Geographie,enCours,07-12-09,NaN,NaN,NaN,s89663,non,13-07-13,12-07-13

In [4]:
# pip install gender-guesser

In [5]:

df_gender = df[["Auteur","Date de soutenance"]]

In [6]:
df_gender.head()

                Auteur Date de soutenance
0       Saeed Al marri                NaN
1    Andrea Ramazzotti                NaN
2  OLIVIER BODENREIDER           01-01-93
3       Emmanuel Porte                NaN
4     Arthur Devriendt                NaN

In [7]:
df_gender['first_name']=df_gender.Auteur.str.split(expand=True)[[0]]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
df_gender.head()

                Auteur Date de soutenance first_name
0       Saeed Al marri                NaN      Saeed
1    Andrea Ramazzotti                NaN     Andrea
2  OLIVIER BODENREIDER           01-01-93    OLIVIER
3       Emmanuel Porte                NaN   Emmanuel
4     Arthur Devriendt                NaN     Arthur

In [9]:
import gender_guesser.detector as gender
d = gender.Detector()

def get_gender_by_name(x,d):
    return d.get_gender(u"{}".format(x))

In [10]:
def title_case(x):
    if x is None:
        pass
    else:
        return x.title()

In [11]:
df_gender["first_name"]=df_gender["first_name"].apply(lambda x: title_case(x))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [12]:
df_gender["gender"] = df_gender['first_name'].apply(lambda x:get_gender_by_name(x,d))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
df.head()

,Auteur,Identifiant auteur,Titre,Directeur de these,Directeur de these (nom prenom),Identifiant directeur,Etablissement de soutenance,Identifiant etablissement,Discipline,Statut,Date de premiere inscription en doctorat,Date de soutenance,Year,Langue de la these,Identifiant de la these,Accessible en ligne,Publication dans theses.fr,Mise a jour dans theses.fr
0,Saeed Al marri,NaN,Le credit documentaire et l'onopposabilite des...,Philippe Delebecque,Delebecque Philippe,29561248,Paris 1,27361802,Driot prive,enCours,30-09-11,NaN,NaN,NaN,s69480,non,26-01-12,26-01-12
1,Andrea Ramazzotti,174423705,Application de la PGD a la resolution de probl...,"Jean-Claude Grandidier,Marianne Beringhier","Grandidier Jean-Claude,Beringhier Marianne","715,441,511","Chasseneuil-du-Poitou, Ecole nationale superie...",28024400,"Mecanique des solides, des materiaux, des stru...",enCours,01-10-12,NaN,NaN,NaN,s98826,non,22-11-13,22-11-13
2,OLIVIER BODENREIDER,NaN,Conception d'un outil informatique d'etude des...,Francois Kohler,Kohler Francois,57030758,Nancy 1,NaN,Medecine,soutenue,NaN,01-01-93,1993.0,fr,1993NAN19006,non,24-05-13,17-11-12
3,Emmanuel Porte,NaN,Socio-histoire des politiques publiques en mat...,Gilles Pollet,Pollet Gilles,na,Lyon 2,02640334X,Science politique,enCours,01-06-11,NaN,NaN,NaN,s88867,non,12-07-13,12-01-16
4,Arthur Devriendt,NaN,LES TECHNOLOGIES DE L'INFORMATION ET DE LA COM...,Gabriel Dupuy,Dupuy Gabriel,na,Paris 1,27361802,Geographie,enCours,07-12-09,NaN,NaN,NaN,s89663,non,13-07-13,12-07-13

In [14]:
#how discipline evolved overtime, and did the duration had any impact on whether it increased or decreased
#number of disciplines per establishment
#number of papers by establishment

In [15]:
df_gender

,Auteur,Date de soutenance,first_name,gender
0,Saeed Al marri,NaN,Saeed,male
1,Andrea Ramazzotti,NaN,Andrea,female
2,OLIVIER BODENREIDER,01-01-93,Olivier,male
3,Emmanuel Porte,NaN,Emmanuel,male
4,Arthur Devriendt,NaN,Arthur,male
...,...,...,...,...
447639,Emir Roumili,NaN,Emir,male
447640,Nesrine Salah,NaN,Nesrine,female
447641,Ghulam sakhi Shokouh,NaN,Ghulam,male
447642,Badr-Eddine Cherief-abdellatif,23-06-20,Badr-Eddine,unknown
447643,Helene Labriet (Rouge-labriet),13-12-19,Helene,female

In [16]:
df_gender['year'] = pd.DatetimeIndex(df_gender["Date de soutenance"]).year

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [17]:
df_gender.dropna(subset=['year'],how='all',inplace=True)

C:\Users\Administrator\AppData\Roaming\Python\Python37\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [18]:
df_gender.isnull().sum()

Auteur                0
Date de soutenance    0
first_name            3
gender                0
year                  0
dtype: int64

In [19]:
df_gender.shape

(390898, 5)

In [20]:
df_gender['year'] = df_gender['year'].astype(int)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
df_gender_count = df_gender.groupby(['gender','year']).count().reset_index()

In [22]:
df_gender_count = df_gender_count.query('year >= 1988 & year < 2020')

In [23]:
df_gender_count.rename(columns={'Auteur':'Number of authors'},inplace=True)

In [ ]:
import plotly.express as px

In [ ]:
fig = px.area(df_gender_count, x="year", y="Number of authors",color="gender",line_group="gender")

fig.show()